#L2{
  display: none;
}

#container {
  border:double;
  max-width:3000px;
  min-width:200px;
  background-color:white;
  margin: 1 auto;
  padding:1%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
